.admin-product-card {
  width: 100%;
  margin-bottom: 2rem;
}

.admin-product-card img {
  height: 200px;
}

.container-border {
  border: 0.5px solid #d3d3d3;
  border-radius: 10px;
}

.admin-product-item:hover {
  background-color: #d3d3d3;
}

/* Hide the border on screens smaller than medium (md) */
@media (max-width: 767.98px) {
  .container-border {
    border: none;
  }
}