@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Itim&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: 'Inter', sans-serif;
  --ff-title: 'Lato', sans-serif;
  --ff-slogan: 'Itim', cursive;

  --clr-dark: #211C1E;
  --clr-accent: #3A4966;
  --clr-light: #ffffff;
}

/* General App Styles */

body {
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: var(--clr-accent);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-family: var(--ff-title);
}

h2 {
  color: var(--clr-light);
  font-size: 1.75rem;
  font-weight: 500;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

h4 {
  font-size: 1.35rem;
  font-weight: 600;
  text-align: center;
}

.custom-button {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border: none;
}

@media (max-width: 800px) {
  .admin-header-button {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
  }

}

.link {
  text-decoration: none;
  color: var(--clr-dark)
}

.form-input-group {
  width: 30rem;
  max-width: 95%;
  
}

.page-subtitle,
.page-footer-buffer {
  background-color: var(--clr-accent);
}

.page-footer-buffer {
  height: 2rem;
  margin-top: 3rem;
}